@font-face {
    font-family: IranSANS;
    font-display: auto;
    src: local("IranSANS"), url(../fonts/IRANSansWeb.ttf) format("truetype"), url(../fonts/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: IranSANS;
    font-display: auto;
    src: local("IranSANS"), url(../fonts/IRANSansWeb_Bold.ttf) format("truetype"), url(../fonts/IRANSansWeb_Bold.woff) format("woff"), url(../fonts/IRANSansWeb_Bold.woff2) format("woff2"), url(../fonts/IRANSansWeb_Bold.eot?#iefix) format("embedded-opentype");
    font-weight: 700;
    font-style: normal
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #ececec;
    font-family: "IranSANS", sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2196f3;
}

a:hover {
    color: #1e88e5;
}
ul {
    list-style-type: none;
}
nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

.main-menu a {
    color: #e1e1e1;
    transition: 0.1s ease;
}
.main-menu a:hover {
    color:#fff;
}
.right-menu, .left-menu {
    display: flex;
}
ul.right-menu {
    width: 60%;
    justify-content: flex-start;
}
ul.left-menu {
    justify-content: flex-end;
    width: 40%;
}
.main-menu li {
    padding: 0 20px;
}
div#contain {
    display: flex;
    justify-content: space-between;
}
.form {
    display: flex;
    flex-direction: column;
    background: rgb(38 50 56);
    padding: 40px;
    width: 40%;
    height: 100vh;
}
.form.request {
    width: 80%;
    margin: 60px auto;
    border-radius: 4px;
    height: auto;
}
.tab-content {
    margin: auto 0;
}
div#bimage {
    width: 60%;
    background-image: url(/image/help.jpg);
    background-size: cover;
}
.tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tabs:after {
    content: "";
    display: table;
    clear: both;
}

.tabs li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tabs li a:hover {
    background: #1e88e5;
    color: #ffffff;
}

.tabs .active a {
    background: #2196f3;
    color: #ffffff;
}

.tab-content>div:last-child {
    display: none;
}
.tab-content>#forget {
    display: none;
}
h1 {
    text-align: center;
    color: #ffffff;
    margin: 0 0 40px;
}
h1#title {
    margin-bottom: 10px;
}
#description {
    color: #eaeaea;
    margin-bottom: 30px;
}
.name {
    display: flex;
}
label {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 4px;
}

.req {
    color: #b8b8b8;
}

label.active {
    transform: translateY(-32px);
    margin-right: 5px;
    font-size: 14px;
    right: 2px;
}


label.highlight {
    color: #ffffff;
}

input, textarea {
    font-family: 'IranSANS';
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 3px;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input[type="email"] , input[type="password"]{
    direction: ltr;
}
input:focus,
textarea:focus {
    outline: 0;
    border-color: #2196f3;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field {
    position: relative;
    margin-bottom: 40px;
}

.name:after {
    content: "";
    display: table;
    clear: both;
}

.name>div {
    width: 48%;
}
.name>div:last-child {
    margin-right: 4%;
}
ul.tabs>li:last-child a {
    border-radius: 0px 4px 4px 0;
}
ul.tabs>li:first-child a {
    border-radius: 4px 0px 0px 4px;
}
.button {
    font-family: 'IranSANS';
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    padding: 15px 0;
    background: #2196f3;
    color: #ffffff;
    transition: all 0.1s ease;
    margin-top: 20px;
}

.button:hover,
.button:focus {
    background: #1e88e5;
}

.button-block {
    display: block;
    width: 100%;
}

.text-center {
    text-align: center;
}
.form-select {
    font-family: 'IranSANS';
    display: block;
    width: 100%;
    padding: 7px 35px 7px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #263238;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 12px;
    border: unset;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    border: none;
    background-color: #1976d2;
}

.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check-input {
    width: 16px;
    height: 20px;
    margin-top: 5px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25em;
}
.field.top>label {
    position: relative;
    display: inline-block;
    margin: 0 0 15px 0;
}
.form-check-input:checked {
    background-color: #1976d2;

}
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check.form-check-inline {
    display: inline-block;
    width: 30%;
}
.row.check .field.top {
    width: 48%;
}
.row.check {
    display: flex;
    justify-content: space-between;
}
.row.n2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.row.n2 .field {
    width: 48%;
}
input#number {
    margin-top: 15px;
    background: #fff;
    border: unset;
    color: #222;
}
label#kurs {
    position: relative;
    margin: 0;
}
label.active#kurs {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    transition: unset;
    font-size: 18px;
    margin-right: unset;
    right: unset;
}
.smessage img {
    width: 100%;
    margin: 40px auto;
}